<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397987837978-d8o5knf6g111v7kfapig46jeigl2duha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397987837978-d8o5knf6g111v7kfapig46jeigl2duha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397987837978-ph255lmbuvmj45h8rkbqlep08t7h00pv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlxBU_yF9ZGEBqLLXjj0ESPkaOKwBi8AE</string>
	<key>GCM_SENDER_ID</key>
	<string>397987837978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-ab6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-ab6ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397987837978:ios:081988fff06876bbc4f9a3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-ab6ce-default-rtdb.firebaseio.com</string>
</dict>
</plist>